<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" routerLink="/"><h2>Quizify</h2></a>
      </div>
      <ul class="nav navbar-right">
        <li class="spacing"><a routerLink="/home" routerLinkActive="active">Home</a></li>&nbsp;
        <li class="spacing"><a routerLink="/signup" routerLinkActive="active">SignUp</a></li>&nbsp;
        <li class="spacing"><a routerLink="/login" routerLinkActive="active">Login</a></li>&nbsp;
        <li class="spacing"><a routerLink="/about-us" routerLinkActive="active">About us</a></li>&nbsp;
      </ul>
    </div>
  </nav>